/* .alert {
    padding: 12px;
    border-radius: 1px;
    font-size: 0.3rem;
    margin-bottom: 16px;
    border-width: 1px;
    border-style: solid;
  }
   */
  /* .alert-error {
    border-color: darkred;
    background-color: red;
    color: white;
  }
   */
  /* .alert-info {
    border-color: orange;
    background-color: yellow;
    color: black;
  } */