<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sales Charts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/viewsal.css">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#" style="margin-right: 0.5cm;">
        <img src="/static/images/shark_icon.jpg" alt="" width="75cm" height="90">
      </a>
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="font-family: 'Times New Roman', Times, serif; font-weight: bolder; font-size: 0.9cm;">Sales Charts</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" >
            <a class="nav-link active" aria-current="page" href="/" style="font-family: 'Times New Roman', Times, serif; font-size: 0.6cm; opacity: initial;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/all_sales" style="font-family: 'Times New Roman', Times, serif; font-size: 0.6cm;">All Sales</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#" style="font-family: 'Times New Roman', Times, serif;font-size: 0.6cm;">Inventory</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/charting" style="font-family: 'Times New Roman', Times, serif;font-size: 0.6cm;">Charting</a>
          </li>
        </ul>
      </div>
    </div>
   </div>
  </nav>
  <div style="margin-right: 200px; margin-bottom: 200px; margin-left: 100px; margin-top: 50px;">
  {{slist}}
  {{chart|safe}}
  </div>
  </body>