<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
    <title>Inventory</title>
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#" style="margin-right: 0.5cm;">
        <img src="/static/images/shark_icon.jpg" alt="" width="75cm" height="90">
      </a>
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="font-family: 'Times New Roman', Times, serif; font-weight: bolder; font-size: 0.9cm;">Sales Inventory</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" >
            <a class="nav-link active" aria-current="page" href="#" style="font-family: 'Times New Roman', Times, serif; font-size: 0.6cm; opacity: initial;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="font-family: 'Times New Roman', Times, serif; font-size: 0.6cm;">All Sales</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#" style="font-family: 'Times New Roman', Times, serif;font-size: 0.6cm;">Inventory</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#" style="font-family: 'Times New Roman', Times, serif;font-size: 0.6cm;">Charting</a>
          </li>
        </ul>
      </div>
    </div>
   </div>
  </nav>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="margin-top: 0.5cm;">
    Add Inventory
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Inventory</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="false"></span>
          </button>
        </div>
        <div class="modal-body">

            <form action="/"  method="POST">
                <div class="form-group">
                  <label for="exampleInputName">Name</label>
                  <input type="text" class="form-control" name="name" id="text" aria-describedby="text" placeholder="Enter Inventory Name">
                </div>

                <label for="exampleInputType">Type</label>
                <select class="form-control" name="type">
                    <option>Product</option>
                    <option>Service</option>
                    </select>

                <div class="form-group">
                    <label for="exampleInputPrice">Buying Price</label>
                    <input type="price" class="form-control"  name="buying_price" id="price" aria-describedby="price" placeholder="Enter Buying Price">
                  </div>

                <div class="form-group">
                <label for="exampleInputPrice">Selling Price</label>
                <input type="price" class="form-control" name="selling_price" id="price" aria-describedby="price" placeholder="Enter Selling Price">
                </div>

                
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
              <button class="btn btn-outline-success" name="submit_a" type="submit">Submit</button>
            </div>
      </form>
      </div>
      </div>
    </div>
  </div>


  <table class="table table-bordered" style="margin-top: 0.5cm;">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Buying Price</th>
        <th scope="col">Selling Price</th>
      </tr>
    </thead>
    {% for good in goods %}
      <tr>
        <td colspan="1">
          {{good.id}}
        </td>
        <td>
          {{good.name}}
        </td>
        <td>
          {{good.type}}
        </td>
        <td>
          {{good.buying_price}}
        </td>
        <td>
          {{good.selling_price}}
        </td>
      </tr>
      {% endfor %}
  </table>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   
   
</body>
</html>