{% extends 'base.html' %}
{% block content %} 
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="margin-top: 0.5cm;">
    Add Inventory
  </button>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <span>{{ message }}</span>
                  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                  </button>
              </div>
            {% endfor %}
          {% endif %}
          {% endwith %}
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Inventory</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">

            <form action="/"  method="POST">
                <div class="form-group">
                  <label for="exampleInputName">Name</label>
                  <input type="text" class="form-control" name="name" id="text" aria-describedby="text" placeholder="Enter Inventory Name" required>
                </div>
                
                <div class="form-group">
                    <label for="exampleInputPrice">Stock</label>
                    <input type="number" class="form-control" name="stock" aria-describedby="number" placeholder="Enter Available Stock" required>
                  </div>

                
                <div class="form-group">
                    <label for="exampleInputPrice">Buying Price</label>
                    <input type="price" class="form-control"  name="buying_price" aria-describedby="price" placeholder="Enter Buying Price" required>
                  </div>

                <div class="form-group">
                <label for="exampleInputPrice">Selling Price</label>
                <input type="price" class="form-control" name="selling_price"  aria-describedby="price" placeholder="Enter Selling Price" required>
                </div>

                
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
              <button class="btn btn-outline-success" name="submit_a" type="submit">Submit</button>
            </div>
      </form>
      </div>
      </div>
    </div>
  </div>
 

  <table class="table table-bordered" id="myTable" style="margin-top: 0.5cm;">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Stock</th>
        <th scope="col">Buying Price</th>
        <th scope="col">Selling Price</th>
        <th scope="col">View Sales</th>
        <th scope="col">Edit Sales</th>
        <th scope="col">Make Sales</th>
      </tr>
    </thead>
    {% for good in goods %}
      <tr>
        <td colspan="1">
          {{good.id}}
        </td>
        <td>
          {{good.name}}
        </td>
        <td>
          {{good.stock}}
        </td>
        <td>
          {{good.buying_price}}
        </td>
        <td>
          {{good.selling_price}}
        </td>
        <td>
          <a href="/viewsales/{{good.id}}" type="button" class="btn btn-danger" data-bs-toggle="" data-target="">View Sales</a>
        </td>
        <td>
          <a href="/edit/{{good.id}}" type="button" class="btn btn-success" data-bs-toggle="" data-bs-target="">
            Edit Record
        </a>
         </td>
          <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{good.id}}">
              Make Sale
            </button>
          <div class="modal fade" id="exampleModal{{good.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Make Sale</h5>
                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="false"></span>
                  </button>
                </div>
                <div class="modal-body">
          
                  <form action="/sale/{{good.id}}"  method="POST">
                    <input type="hidden" name="inv_id" value="{{good.id}}" >
                      <div class="form-group">
                        <label for="exampleInputName">Quantity</label>
                        <input type="text" class="form-control" name="quantity" id="text" aria-describedby="text" placeholder="Enter Quantity" required>
                      </div>
                      <div class="modal-footer">
                      <button class="btn btn-success" name="submit" type="submit">Submit</button>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          </td>
          </tr>
       
      {% endfor %}
  </table>
{% endblock %}